<h1>Add a song</h1>

<%= form_for @song do |f| %>
<%= f.label :song_title %>
<%= f.text_field :song_title %>
<br />

<%=f.label :song_artist %>
<%=f.text_field :song_artist %>
<br />
<%= f.submit %>
<% end %>